<ion-view view-title="Rate Your Experience">
    <div class="bar bar-subheader bar-stable">
  <h4 class="title">Please Rate our App out of 10</h4>
  </div>
  <ion-content class="padding">

<div class="list card" style="text-align:center">


<h4></h4>

<h4><span style="font-size: 70px; color: #0d89cb;"> {{rating.numberSelection}} </span> out of 10</h4>
<div class="list">
  <div class="item range range-positive">
    0  <input type="range" name="volume" min="0" max="10" value="{{rating.numberSelection}}" ng-model="rating.numberSelection">10
  </div>
</div>

<br/>

<!--
<h4>Other Category</h4>
<h4><span style="font-size: 70px; color: #0d89cb;"> {{rating.othernumberSelection}} </span> out of 10</h4>
<div class="list">
  <div class="item range range-positive">
    0  <input type="range" name="volume" min="0" max="10" value="{{rating.othernumberSelection}}" ng-model="rating.othernumberSelection">10
  </div>
</div>
-->






   <button class="button button-block button-balanced" style="height:70px;font-size:20px;" ui-sref="tab.appFeedback2">
    <b>Submit Feedback Now!</b>
</button>


<br/>
<br/>
<br/>



</button>



<br/>
<br/>


<br/>
<br/>

</div>
  </ion-content>
</ion-view>
