<ion-view view-title="base64....">
  <ion-content class="padding">

<br/>
<br/>
<br/>





<button class="button button-positive" ng-click="initBle()">
  <b>Init BT
</b>
</button>


<br/>
<br/>


<button class="button button-positive" ng-click="myFunction()">
  <b>Call base64
</b>
</button>




<!--


<button class="button button-positive" ng-click="select(1601)">
  <b>Select from AppDB</b>
</button>

<!--"INSERT INTO bp_reading (createdAt, userID, systolic, diastolic, heartRate, feedback text, activityID, outcome, symptomCheckID) VALUES (?,?)";
<button class="button button-positive" ng-click="insert()">
  <b>Insert into AppDB</b>
</button>
-->


<br/>
<br/>
<br/>
<div style="margin-left:auto; margin-right:auto;;"><p><button class="button button-light button-block" ng-click="modal.show()">Lock App</button></p></div>

<div style="margin-left:auto; margin-right:auto;;"><p><button class="button button-light button-block" ui-sref="tab.errorWarningScreens">Other Screens</button></p></div>

  </ion-content>
</ion-view>
