<ion-view view-title="BP Check - Step 4 of 4">
  <div class="bar bar-subheader bar-assertive">
<h4 class="title">Your BP is Low</h4>
</div>

  <ion-content class="padding">


<br/>






<div class="list card" style="text-align:center">




 <p class="item" >
    Systolic <span class="emphaW">{{ result.finalSys }}</span>
  </p>

  <p class="item">
    Diastolic <span class="emphaW">{{ result.finalDia }}</span>
  </p>

    <p class="item">
      Mean Arterial Pressure <span class="emphaW">{{ result.finalMap }}</span>

    </p>

  <p class="item">

  Heart Rate <span class="emphaW">{{ result.finalHr }}</span>
</p>

<p class="errorText" > <span class="empha">Sit Down and Relax for 15mins</span> and then press Restart </p>




</div>







   <button class="button button-block button-balanced" style="height:70px;font-size:24px;" ui-sref="tab.bpStep0" ng-click="resetBPSymptoms()">
    <b>Restart BP Reading</b>
</button>





  </ion-content>
</ion-view>
