<ion-view view-title="BP Check - Step 4 of 4">
  <div class="bar bar-subheader bar-assertive">
<h4 class="title">Your BP is Low</h4>
</div>

  <ion-content class="padding">



<br/>
<br />





<div class="list card" style="text-align:center">


 <p class="item" >
    Systolic <span class="emphaW">{{ result.finalSys  }}</span>
  </p>

  <p class="item">
    Diastolic <span class="emphaW">{{ result.finalDia  }}</span>
  </p>

    <p class="item">
      Mean Arterial Pressure <span class="emphaW"> {{ result.finalMap  }} </span>

    </p>

  <p class="item">

  Heart Rate <span class="emphaW"> {{ result.finalHr }} </span>
</p>




<!--<p class="errorText" ><b>Your recorded data suggests that you may require medical attention from a clinician. Please contact Cork University Hospital’s emergency room to speak with a member of the hospital staff.</b><br/><br /> </p>



   <button class="button button-block button-energized" style="height:70px;font-size:24px;margin-top:-10px;" ng-href="tel:+353211">
    <b>Call Emergency Room</b>
</button>
-->
<p class="errorText" ><b>Your recorded data suggests that you may require medical attention from a clinician. Please call the Leanbh Clinician Now!</b><br/><br /> </p>


<a class="button button-block button-energized" style="height:70px;font-size:24px;margin-top:-10px;" ng-href="tel:+353852341158" ng-click="finishMedAlert()">
    <p style="margin-top: 10px;font-weight:bold;">Call Clinician</p>
</a>












</div>












  </ion-content>
</ion-view>
