<ion-view view-title="btSerialTest">
  <ion-content class="padding">

<br/>
<br/>
<br/>


<h4>$scope.btSerialBPData2is: <span class="empha2">{{ btSerialBPData2 }}</span></h4>


<button class="button button-positive" ng-click="enableBT()">
  <b>Enable BT on Phone
</b>
</button>


<button class="button button-positive" ng-click="connectBTSerial()">
  <b>Connect BT Serial
</b>
</button>

<button class="button button-positive" ng-click="list()">
  <b>list()
</b>
</button>


<button class="button button-positive" ng-click="bytesAvailable()">
  <b>Bytes Availabel to Read??
</b>
</button>



<button class="button button-positive" ng-click="showBPDataX()">
  <b>Show BP Data Array
</b>
</button>

<button class="button button-positive" ng-click="readBTSerial()">
  <b>Read BT Serial
</b>
</button>

<button class="button button-positive" ng-click="subscribeBTSerial()">
  <b>Subscribe BT Serial
</b>
</button>



<button class="button button-positive" ng-click="showSubRawData()">
  <b>***** SHOW btSerial Array Data *****
</b>
</button>

<button class="button button-positive" ng-click="decodeB64()">
  <b>Decode the Data
</b>
</button>


<button class="button button-positive" ng-click="writeBTSerial()">
  <b>Write ACK
</b>
</button>

<br><br>
<h4>***** btSerialBPData2 array is: <span class="empha2">{{ btSerialBPData2 }}</span> ******</h4>


<!--


<button class="button button-positive" ng-click="select(1601)">
  <b>Select from AppDB</b>
</button>

<!--"INSERT INTO bp_reading (createdAt, userID, systolic, diastolic, heartRate, feedback text, activityID, outcome, symptomCheckID) VALUES (?,?)";
<button class="button button-positive" ng-click="insert()">
  <b>Insert into AppDB</b>
</button>
-->


<br/>
<br/>
<br/>
<h1>BLE Central Functions</h1>


<button class="button button-positive" ng-click="showBTSettings()">
  <b>Show Settings + Enable</b>
</button>


<button class="button button-positive" ng-click="blecScan()">
  <b>Scan blec</b>
</button>


<button class="button button-positive" ng-click="blecConnect()">
  <b>Connect blec</b>
</button>


<button class="button button-positive" ng-click="isConnected()">
  <b>is connected??</b>
</button>

<button class="button button-positive" ng-click="blecWrite()">
  <b>Write blec</b>
</button>


<button class="button button-positive" ng-click="blecRead()">
  <b>Read blec</b>
</button>


<button class="button button-positive" ng-click="notify()">
  <b>Notify / Subscribe</b>
</button>

<h4>BP Data Array: </h4>
<p> <span class="empha2"> {{ blecBPData2}} </span></p>





<br/>
<br/>
<br/>

<br/>
<br/>
<br/>



  </ion-content>
</ion-view>
