<ion-view view-title="btSS">
  <div class="bar bar-subheader bar-stable">
<h4 class="title">BP Reading in Progress</h4>
</div>

  <ion-content class="padding">
<br/>
<br/>


<div class="list card" style="text-align:center">

<p class="errorText">


<button class="button button-block button-balanced" style="height:70px;font-size:24px;" ng-click="initBTConn()">
    <b>initBLEConn()</b>
</button>


<b>Your Blood Pressure Reading will appear here shortly....<b><br/><br />

<div style="margin-left:auto;margin-right:auto;width:30%;">


<!--<p>BPM-App BT Connection Event Log</p>
<textarea ng-model="btLogData"   readonly rows="60" cols="50" style="border: 5px solid orange; background-color:#000;color:lime;">

</textarea>


<p> {{   btLogData }}</p>


-->



<!--
</div>


</div>

<br/>
-->


  <!-- <button class="button button-block button-balanced" style="height:70px;font-size:24px;" ui-sref="tab.step3">
    <b>Continue</b>
</button>-->


<!--
 <button class="button button-block button-balanced" style="height:70px;font-size:24px;" ui-sref="tab.bpStep3">
    <b>Continue</b>
</button> -->





  </ion-content>
</ion-view>
