<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable nav-title-slide-ios7">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Theme</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
               <ion-item nav-clear menu-close href="#/map/home" class="item item-icon-left" >
                    <i class="icon ion-ios7-ionic-outline"></i>Map
                </ion-item>
               <ion-item nav-clear menu-close href="#/map/help" class="item item-icon-left" >
                    <i class="icon ion-ios7-help"></i>Help
                </ion-item>
						</ion-list>
					</ion-content>
				</ion-side-menu>
			</ion-side-menus>
