<ion-view title="Please Enter your PIN" ng-init="init()">
         <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Please Enter your PIN Code</h1>
          <!--<button class="button button-clear button-primary" ng-click="modal.hide()">Close</button>-->
        </ion-header-bar>




 <ion-content class="padding">

   <br/>
   <br/>
   <br/>
   
          <div class="list" >
                            <div>
                                <div class="row" style="text-align: center">
                                    <div class="col col-10 col-offset-15" style="border-bottom: 1px solid black">
                                        {{passcode.substring(0, 1)}}
                                    </div>
                                    <div class="col col-10 col-offset-10" style="border-bottom: 1px solid black">
                                        {{passcode.substring(1, 2)}}
                                    </div>
                                    <div class="col col-10 col-offset-10" style="border-bottom: 1px solid black">
                                        {{passcode.substring(2, 3)}}
                                    </div>
                                    <div class="col col-10 col-offset-10" style="border-bottom: 1px solid black">
                                        {{passcode.substring(3, 4)}}
                                    </div>
                                </div>
                            </div>
                            <div style="margin-top: 50px">
                                <div class="row">
                                    <div class="col col-20 col-offset-20">
                                        <button class="button button-light button-stretch" ng-click="add(1)">1</button>
                                    </div>
                                    <div class="col col-20">
                                        <button class="button button-light button-stretch" ng-click="add(2)">2</button>
                                    </div>
                                    <div class="col col-20">
                                        <button class="button button-light button-stretch" ng-click="add(3)">3</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-20 col-offset-20">
                                        <button class="button button-light button-stretch" ng-click="add(4)">4</button>
                                    </div>
                                    <div class="col col-20">
                                        <button class="button button-light button-stretch" ng-click="add(5)">5</button>
                                    </div>
                                    <div class="col col-20">
                                        <button class="button button-light button-stretch" ng-click="add(6)">6</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-20 col-offset-20">
                                        <button class="button button-light button-stretch" ng-click="add(7)">7</button>
                                    </div>
                                    <div class="col col-20">
                                        <button class="button button-light button-stretch" ng-click="add(8)">8</button>
                                    </div>
                                    <div class="col col-20">
                                        <button class="button button-light button-stretch" ng-click="add(9)">9</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-20 col-offset-20">
                                        <button class="button button-light button-stretch"></button>
                                    </div>
                                    <div class="col col-20">
                                        <button class="button button-light button-stretch" ng-click="add(0)">0</button>
                                    </div>
                                    <div class="col col-20">
                                        <button class="button icon ion-arrow-left-a button-light button-stretch" ng-click="delete()"></button>
                                    </div>
                                </div>
                            </div>

                            <br/>
                            <br/>
                              <p class="text-center"><a href="#/forgot-password">Forgot your PIN? Reset it Here</a></p>



          </div>
  </ion-content>


    </ion-content>
</ion-view>
