<ion-view view-title="Urine Reading - Step 1 of 4">
  <div class="bar bar-subheader bar-stable">
<h4 class="title">Are you experiencing?</h4>
</div>

  <ion-content class="padding">

<br/>
<br/>






<ul class="list">

  <li class="item item-checkbox">
    <span class="step1Text">Headaches?</span>

     <label class="checkbox">
       <input type="checkbox" ng-model="checkboxModelPR.value1" ng-change="captureHeadaches(checkboxModelPR.value1)">
     </label>
  </li>

    <li class="item item-checkbox">
        <span class="step1Text">Visual Disturbances?</span>

       <label class="checkbox">
         <input type="checkbox" ng-model="checkboxModelPR.value2" ng-change="captureVisD(checkboxModelPR.value2)">
       </label>
    </li>

      <li class="item item-checkbox">
        <span class="step1Text">Epigastric Pain?</span>

         <label class="checkbox">
           <input type="checkbox" ng-model="checkboxModelPR.value3" ng-change="captureEpiG(checkboxModelPR.value3)">
         </label>
      </li>

<br/>
<br/>
          <li class="item item-checkbox">
            <span class="step1Text">None of the Above?</span>

             <label class="checkbox">
               <input type="checkbox" ng-model="checkboxModelPR.value4" ng-change="captureNone(checkboxModelPR.value4)">
             </label>
          </li>











</ul>







   <button class="button button-block button-royal" style="height:70px;font-size:24px;" ng-click="calcSymptomCount()">
    <i class="ion-beaker" style="font-size: 35px;"></i>   <b>Continue</b>
</button>





  </ion-content>
</ion-view>
