<ion-view view-title="Urine Reading - Step 4 of 4">
  <div class="bar bar-subheader bar-stable">
<h4 class="title">Urine Reading Complete</h4>
</div>

  <ion-content class="padding">








<div class="list card" style="text-align:center">
<!--<p class="item" >
<b>Your Results</b>
</p>-->


  <!--Urine Protein Reading: <span class="empha3">0.85</span> </p>-->

    <!--  <p class="item" >
      Urine Protein Level <span class="empha2">{{ selectedProteinOutcome }} </span>
    </p> -->

      <br/>
      <br/>

      <p class="errorText">Please Choose which best describes the Urine Analyser Error from the below Dropdown Menu</p>
      <br/>
      <label class = "item item-input item-select item-dark">
         <div class = "input-label">
          <h2 style="color:#fff;font-weight:bold;">Error:</h2>
         </div>

         <select ng-model="selectedUAError" ng-options="x for (x, y) in uaErrors" ng-disabled="{{proteinEnabled.value2}}" >

         </select>
      </label>

      <br/>
      <br/>

</div>

<br/>




  <button class="button button-block button-royal" style="height:70px;font-size:24px;" ng-disabled="{{proteinEnabled.value2}}"  ng-click="captureProteinError(selectedUAError)">
    <i class="ion-beaker" style="font-size: 35px;"></i>     <b>Finish</b>
</button>





<Br/>
<br/>
<br/>
<br/>











  </ion-content>
</ion-view>
