<ion-view view-title="LEANBH">

  <ion-nav-bar class="bar-positive">




  </ion-nav-bar>


  <ion-content class="padding">


          <div style="text-align: center;"><!--<img src="img/fullLogo-50opc.png" height="" />-->
		  </div>


            <div class="list list-inset" style="">
               <p class="empha2" style="text-align:center;font-size: 14px;">Username & Password ARE CaSe SenSITive!</p>
			  <label class="item item-input">
                 <input type="text" ng-model="user.username" placeholder="Your Username">
               </label>

               <label class="item item-input">
                 <input type="{{inputType}}" ng-model="user.password" placeholder="Your Password">
               </label>



            <!--  <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
            <label for="checkbox" ng-if="passwordCheckbox">Hide password</label>
              <label for="checkbox" ng-if="!passwordCheckbox">Show password</label>
            -->
            <br/>
            <div style="text-align:center;">  <button class="button button-balanced" ng-click="hideShowPassword()"> Show / Hide Password</button> </div>







             </div>


      <!--  <p class="text-center"><a href="#/forgot-password">Forgot your username / password?</a></p>-->


  <br/>
    <br/>

             <div class="padding">
               <button class="button button-block button-positive" ng-click="signIn(user)">
                 <b>Sign in</b>
               </button>








             </div>




  </ion-content>
</ion-view>
