<ion-view view-title="BP - Step 4 of 4">
  <div class="bar bar-subheader bar-stable">
<h4 class="title">Blood Pressure Reading Complete</h4>
</div>

  <ion-content class="padding">



<br/>
<br />





<div class="list card" style="text-align:center">
<!--<p class="item" >
<b>Your Results</b>
</p>-->

  <p class="item" >
    Systolic <span class="empha2" > {{ bpDataSys }} </span>
  </p>

  <p class="item">
    Diastolic <span class="empha2"> {{ bpDataDia }}  </span>
  </p>

    <p class="item">
      Mean Arterial Pressure <span class="empha2"> {{ bpDataMap }} </span>

    </p>

  <p class="item">

  Heart Rate <span class="empha2">  {{ bpDataHr }} </span>
  </p>


</div>

<br/>




  <button class="button button-block button-balanced" style="height:70px;font-size:24px;" ng-click="resetBPSymptoms()" ui-sref="tab.dash" >
  <i class="ion-ios-heart" style="font-size: 35px;"></i>   <b>Finish</b>
</button>


<!--
   <button class="button button-block button-balanced" style="height:70px;font-size:24px;" ui-sref="tab.tolven">
    <b>Finish</b>
</button>
-->









  </ion-content>
</ion-view>
