<ion-view view-title="BP - Step 3 of 4">
  <div class="bar bar-subheader bar-stable">
<h4 class="title">BP Reading in Progress</h4>
</div>

  <ion-content class="padding">
<br/>
<br/>


<div class="list card" style="text-align:center">

<p class="errorText">




<span  class="empha2">Your Blood Pressure Reading will appear here shortly....</span><br/>

<div style="margin-left:auto;margin-right:auto;">
<img src="img/cn-.jpg" style="width: 111px; height:65px;border:5px solid #34f50e" />
<img src="img/bt.jpg" style="width: 111px;  height:65px;border:5px solid red;" />


<p>A <b>'Cn'</b> on the Blood Pressure Monitor means the App is Connected Successfully
BUT a <b>'bt'</b> means that the App is NOT Connected and <b>You Must Press 'Cancel BP Reading' Below and Start a New BP Reading</b></p>
<!--<p>BPM-App BT Connection Event Log</p>
<textarea ng-model="btLogData"   readonly rows="60" cols="50" style="border: 5px solid orange; background-color:#000;color:lime;">

</textarea>


<p> {{   btLogData }}</p>


-->



<!--
</div>


</div>

<br/>
-->



</div>




</div>
<button class="button button-block button-energized" style="height:70px;font-size:24px;"  ng-disabled="false" ng-click="cancelBPReading()">
  <b>Cancel BP Reading</b>
</button>







  </ion-content>
</ion-view>
