<ion-view view-title="BP- Step 3 of 4">
  <div class="bar bar-subheader bar-stable">
<h4 class="title">About to Start BP Reading</h4>
</div>

  <ion-content class="padding">
<br/>



<div class="list card" style="text-align:center">

<p class="errorText">

Are you sitting upright and comfortably with the BP Cuff fitted on your Upper Left Arm? </p>



IF YES, then press the <span class="empha">Start Button</span> on the BP Monitor and then press CONNECT (to BP Monitor) below.<br/><br />

<img src="img/bpmStartButtonCr.jpg" style="height:110px;" />



<br/>
<!--
<br/>


 <p class="empha2">Systolic: {{data.sys}}</p>
<div class="range">
  0
   <input type="range" name="sys" ng-model="data.sys" min="20" max="220">
  300
 </div>

 <br/>
  <p class="empha2">Diastolic: {{data.dia}}</p>
 <div class="range">
   0
    <input type="range" name="sys" ng-model="data.dia" min="20" max="220">
   300
  </div>

  <br/>
   <p class="empha2">Heart Rate: {{data.hr}}</p>
  <div class="range">
    0
     <input type="range" name="sys" ng-model="data.hr" min="40" max="300">
    300
   </div>






<button class="button button-block button-balanced" style="height:70px;font-size:24px;" ng-click="submitBPData(data.sys, data.dia, data.hr)">
    <b>Submit BP Data Manually</b>
</button>
-->

 <button class="button button-block button-balanced" style="height:70px;font-size:24px;" ui-sref="tab.bpStep3" ng-click="initBTConn()" >
  <i class="ion-ios-heart" style="font-size: 35px;"></i>  <b>CONNECT</b>
</button>


</div>



  </ion-content>
</ion-view>
