<ion-view view-title="BP - Step 1 of 4">
  <div class="bar bar-subheader bar-stable">
<h4 class="title">Are you experiencing?</h4>
</div>

  <ion-content class="padding">

<br/>
<br/>





<ul class="list">

  <li class="item item-checkbox">
    <span class="step1Text">Headaches?</span>

     <label class="checkbox">
       <input type="checkbox" ng-model="checkboxModel.value1" ng-change="captureHeadaches(checkboxModel.value1)">
     </label>
  </li>

    <li class="item item-checkbox">
        <span class="step1Text">Visual Disturbances?</span>

       <label class="checkbox">
         <input type="checkbox" ng-model="checkboxModel.value2" ng-change="captureVisD(checkboxModel.value2)">
       </label>
    </li>

      <li class="item item-checkbox">
        <span class="step1Text">Epigastric Pain?</span>

         <label class="checkbox">
           <input type="checkbox" ng-model="checkboxModel.value3" ng-change="captureEpiG(checkboxModel.value3)">
         </label>
      </li>

<br/>
<br/>
          <li class="item item-checkbox">
            <span class="step1Text">None of the Above?</span>

             <label class="checkbox">
               <input type="checkbox" ng-model="checkboxModel.value4"  ng-change="captureNone(checkboxModel.value4)">
             </label>
          </li>






</ul>







   <button class="button button-block button-balanced" style="height:70px;font-size:24px;" ng-click="calcSymptomCount()">
    <i class="ion-ios-heart" style="font-size: 35px;"></i> <b>Continue</b>
</button>





  </ion-content>
</ion-view>
