<ion-view view-title="BP Check - Step 4 of 4">
  <div class="bar bar-subheader bar-assertive">
<h4 class="title">More than 1 Pregnancy Sympotoms Detected</h4>
</div>

  <ion-content class="padding">


<br/>






<div class="list card" style="text-align:center">


<!--

 <p class="item" >
    Systolic <span class="emphaW">81</span>
  </p>

  <p class="item">
    Diastolic <span class="emphaW">33</span>
  </p>

    <p class="item">
      Mean Arterial Pressure <span class="emphaW"> </span>

    </p>

  <p class="item">

  Heart Rate <span class="emphaW">65</span>
</p>

<p class="errorText" > <span class="empha">Sit Down and Relax for 15mins</span> and then press Restart </p>
-->

<p class="errorText" ><b>Your recorded data suggests that you may require medical attention from a clinician. Please contact Cork University Hospital’s emergency room to speak with a member of the hospital staff.</b><br/><br /> </p>

</div>










   <button class="button button-block button-energized" style="height:70px;font-size:24px;margin-top:-10px;" href="tel:+353852341158" ng-click="finishMedAlert()">
    <b>Call Emergency Room</b>
</button>




  </ion-content>
</ion-view>
