<ion-view view-title="Home">
  <ion-content class="padding">

<br/>
<br/>
<br/>



  <button class="button button-block button-balanced" style="height:70px;font-size:20px;"  ng-click="resetBPSymptoms()" ui-sref="tab.bpStep0">
  <i class="ion-ios-heart" style="font-size: 35px;"></i>  <b>Start a BP Reading</b>
</button>

<br/>


<button class="button button-block button-royal" style="height:70px;font-size:20px;" ui-sref="tab.proteinStep0" ng-click="finishProteinReading()">
<i class="ion-beaker" style="font-size: 35px;"></i>  <b>Start a Urine Reading</b>
</button>

<br/>
<br/>



<br/>
<br/>
<br/>
<br/>

<!-- <b>BP Readings to Synch:</b> {{ localData.bpReadings }}  <br/>
<b>Protein Readings to Synch:</b> {{ localData.prReadings }}  <br/>
<b>Device Errors to Synch:</b> {{ localData.deviceErrors }}  <br/>

<b>localData.synchDisabled:</b> {{ localData.synchDisabled }}  <br/> -->


<br/>
<button class="button button-block button-energized" ng-click="synchBPh()" ng-disabled="localData.synchDisabled">
   <i class="ion-android-sync" style="font-size: 35px;"></i>  <b>Synch Readings to Cloud</b> ({{ localData.totalToSynch }}) </b>
</button>





<!--
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<button class="button button-block button-balanced" ng-click="readSQLiteDeviceErrors()">
  <b>Show Device Errors (from AppDB)</b>
</button>

<button class="button button-block button-balanced" ng-click="synchDeviceErrors()">
  <b>Synch Device Errors </b>
</button>

<button class="button button-block button-balanced" ng-click="resetDeviceErrors()">
  <b>resetFlags (Device Errors)</b>
</button>





<button class="button button-block button-balanced" ng-click="readSQLiteProteinData()">
  <b>Show Urine Readings (from AppDB)</b>
</button>

<button class="button button-block button-balanced" ng-click="synchProteinReadings()">
  <b>Synch PROTEIN Readings</b>
</button>

<button class="button button-block button-balanced" ng-click="proteinResetFlags()">
  <b>resetFlags (Protein readings)</b>
</button>


<button class="button button-block button-balanced" ng-click="synch()">
  <b>Synch BP Readings</b>
</button>


<button class="button button-block button-balanced" ng-click="resetFlags()">
  <b>resetFlags (BP readings)</b>
</button>
-->



<!--

<button class="button button-block button-balanced" ng-click="readSQLiteBPProcessedData()">
  <b>Show BT Processed Data (from AppDB)</b>
</button>

<br/>






<br/>
<br/>
<br/>

<button class="button button-block button-balanced" ng-click="signOut()">
  <b>Log Out</b>
</button>
-->

<!--<button class="button button-block button-balanced" ng-click="showUser()">
  <b>Show User</b>
</button>-->

<!--
<button class="button button-block button-balanced" ng-click="testSQLC2()">
  <b>testSQLC2()</b>
</button>


<button class="button button-block button-balanced" ng-click="testSQLC()">
  <b>testSQLC()</b>
</button>

<button class="button button-block button-balanced" ui-sref="tab.proteinStep3">
  <b>proteinResult screen</b>
</button>

<button class="button button-block button-balanced" ui-sref="tab.bpWarningCombined1">
  <b>bpWarningCombined1</b>
</button>

<button class="button button-block button-balanced" ui-sref="tab.bpWarningCombined2">
  <b>bpWarningCombined2</b>
</button>

<button class="button button-block button-balanced" ui-sref="bpWarningMoreThanOneSymptom">
  <b>bpWarningMoreThanOneSymptom</b>
</button>

<button class="button button-block button-balanced" ui-sref="tab.bpWarning1">
  <b>bpWarning1</b>
</button>

<button class="button button-block button-balanced" ui-sref="tab.bpWarning2">
  <b>bpWarning2</b>
</button>

<button class="button button-block button-balanced" ui-sref="tab.bpWarningLow">
  <b>bpWarningLow</b>
</button>

<button class="button button-block button-balanced" ui-sref="tab.bpWarningLow">
  <b>bpWarningLow</b>
</button>

<button class="button button-block button-balanced" ui-sref="tab.symptomWarning">
  <b>symptomWarning</b>
</button>

<button class="button button-block button-balanced" ui-sref="tab.bpError1">
  <b>bpError1</b>
</button>

<button class="button button-block button-balanced" ui-sref="tab.bpError2">
  <b>bpError2</b>
</button>

<button class="button button-block button-balanced" ui-sref="tab.bpError3">
  <b>bpError3</b>
</button>

<button class="button button-block button-balanced" ui-sref="tab.bpError3">
  <b>bpError5</b>
</button>


<button class="button button-block button-balanced" ng-click="testEnc()">
  <b>testEnc()</b>
</button>


<button class="button button-block button-balanced" ng-click="setResultVars()">
  <b>setResultVars()</b>
</button>


<button class="button button-block button-balanced" ng-click="testPromises()">
  <b>testPromises()</b>
</button>

<button class="button button-block button-balanced" ng-click="cordovaHttp()">
  <b>Test cordovaHttp</b>
</button>



<button class="button button-block button-balanced" ng-click="doSynch()">
  <b>Synch Data (with CHG)</b>
</button>

<button class="button button-block button-balanced" ng-click="doTest()">
  <b>doTest()</b>
</button>


<button class="button button-block button-balanced" ng-click="resetFlags()">
  <b>resetFlags()</b>
</button>



<button class="button button-block button-balanced" ng-click="readSQLiteBPData(1601)">
  <b>Show BT RAW Data (from AppDB)</b>
</button>



<button class="button button-block button-balanced" ng-click="readSQLiteBPProcessedData()">
  <b>Show BT Processed Data (from AppDB)</b>
</button>
-->






<!--
<button class="button button-block button-balanced" ng-click="btSerialServiceConnect()">
  <b>btSerialServiceConnect()</b>
</button>

<button class="button button-block button-balanced" ng-click="insertTestData('Mike', '1985')">
  <b>Insert Test Data</b>
</button>

<button class="button button-block button-balanced" ng-click="updateTestData(1, 1945)">
  <b>Update Test Data #1</b>
</button>

<button class="button button-block button-balanced" ng-click="readTestData(1601)">
  <b>Read Test Data...</b>
</button>

<button class="button button-block button-balanced" ng-click="testSynch()">
  <b>testSynch </b>
</button>



<button class="button button-block button-balanced" ng-click="checkNetConn()">
  <b>Check Net Conn</b>
</button>

-->




<!--
<button class="button button-positive" ng-click="b64toHex()">
  <b>Convert b64toHex
</b>
</button>



<button class="button button-positive" ui-sref="tab.btSerialTest">
  <b>Go To BT Serial
</b>
</button>




<br/>
<br/>
<br/>
<br/>

<button class="button button-positive" ng-click="unsub2()">
  <b>Unsub2
</b>
</button>
<br/>


<button class="button button-positive" ng-click="disconnect()">
  <b>Disconnect
</b>
</button>



<br/>
<button class="button button-positive" ng-click="closeBTConn()">
  <b>Close BT Conn
</b>
</button>

<br/>
<button class="button button-positive" ng-click="discover()">
  <b>Call Discover() [android only]
</b>
</button>


<button class="button button-positive" ng-click="initBle()">
  <b>initBle2
</b>
</button>

<button class="button button-positive" ng-click="initBle2()">
  <b>initBle2
</b>
</button>
-->



<!--



<button class="button button-positive" ng-click="readSQLiteBPData(1601)">
  <b>Get Raw BP Data (from App DB)
</b>
</button>


<!--


<button class="button button-positive" ng-click="readfff0()">
  <b>Read CHAR...: fff0
</b>
</button>

<br/>
<br/>

<button class="button button-positive" ng-click="writeBle()">
  <b>Write to FFF2
</b>
</button>

<br/>
<br/>
-->

<!--
<button class="button button-positive" ui-sref="tab.btSerialTest">
  <b>BLEC TEST
</b>
</button> -->




<!--


<button class="button button-positive" ng-click="select(1601)">
  <b>Select from AppDB</b>
</button>

<!--"INSERT INTO bp_reading (createdAt, userID, systolic, diastolic, heartRate, feedback text, activityID, outcome, symptomCheckID) VALUES (?,?)";
<button class="button button-positive" ng-click="insert()">
  <b>Insert into AppDB</b>
</button>
-->


<br/>
<br/>
<br/>
<!--
<div style="margin-left:auto; margin-right:auto;;"><p><button class="button button-light button-block" ng-click="modal.show()">Lock App</button></p></div>

<div style="margin-left:auto; margin-right:auto;;"><p><button class="button button-light button-block" ui-sref="tab.errorWarningScreens">Other Screens</button></p></div>
-->
  </ion-content>
</ion-view>
