<ion-view view-title="My Account">
  <ion-content>

  <div class="list card" style="text-align:center">


  <p>Your LEANBH Username is:   <span class="empha22" >{{ accountID }}</span></p>
  <p>You are a  <span class="empha22" >LEANBH Clinical Study Participant</span></p>

  <p>Your are using Leanbh App version: <span class="empha22">{{ appVersion }} </span></p>

  <p>Your are on the: <span class="empha22">{{ phoneOS }} - {{ phoneOSVersion }}</span></p>

  <!--  <p>Your Phone is a <span class="empha2" >{{ phoneMake }} -  {{ phoneModel }} </span></p>-->

<br/>

  </div>

<div style="text-align:center;">
  <br/>

<!--  <br/>
  <button class="button button-block button-energized" ng-click="synchBP()">
   <i class="ion-android-sync" style="font-size: 35px;"></i>  <b>Synch Readings to Cloud</b>
 </button>-->




  <button class="button button-block button-energized" ng-click="signOut()">
 <i class="ion-log-out" style="font-size: 35px;"></i> <b>Log Out of App</b>
  </button>
</div>

  </ion-content>
</ion-view>
