<ion-view view-title="Reminders">
  <ion-content class="padding">

<br/>
<br/>

   <button class="button button-block button-balanced" style="height:70px;font-size:20px;" ui-sref="">
    <b>Set a Reminder Now</b>
</button>

<br/>

 <button class="button button-block button-balanced" style="height:70px;font-size:20px;" ui-sref="">
  <b>View All Reminders</b>
</button>

  </ion-content>
</ion-view>
