<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Log" icon-off="ion-ios-heart-outline" icon-on="ion-ios-heart" href="#/tab/log">
    <ion-nav-view name="tab-log"></ion-nav-view>
  </ion-tab>



  <ion-tab title="Log" icon-off="ion-beaker" icon-on="ion-beaker" href="#/tab/prLog">
    <ion-nav-view name="tab-prLog"></ion-nav-view>
  </ion-tab>

      <!-- Help/Instructions Tab -->
   <ion-tab title="Help" icon-off="ion-ios-help-outline" icon-on="ion-ios-help" href="#/tab/help">
        <ion-nav-view name="tab-help"></ion-nav-view>
      </ion-tab>

      <!-- Account Tab -->
      <ion-tab title="My Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
      </ion-tab> 


</ion-tabs>
